---
layout: layout.liquid
title: Gallery
---
<script src="path/to/md-gallery.js"></script>

<h1>Hiking <strong>Photo</strong> Gallery</h1>

<h2>Zion National Park - October 2023</h2>

<p>I was privledged to visit Zion National Park on my way from California to Ontario, these are some of my photos from those two days.</p>

<container class="flex-container">
    <img class="photo" alt="Zion" src="/images/Zion1.jpg"> 
    <img class="photo" alt="Zion" src="/images/Zion2.jpg">
    <img class="photo" alt="Zion" src="/images/Zion3.jpg">
    <img class="photo" alt="Zion" src="/images/Zion4.jpg"> 
    <img class="photo" alt="Zion" src="/images/Zion5.jpg">
    <img class="photo" alt="Zion" src="/images/Zion6.jpg">
    <img class="photo" alt="Zion" src="/images/Zion7.jpg"> 
    <img class="photo" alt="Zion" src="/images/Zion8.jpg">
    <img class="photo" alt="Zion" src="/images/Zion9.jpg">
    <img class="photo" alt="Zion" src="/images/Zion10.jpg"> 
    <img class="photo" alt="Zion" src="/images/Zion11.jpg">
    <img class="photo" alt="Zion" src="/images/Zion12.jpg">
</container>

<img alt="logo" src="/images/token_moonriver.svg" width="75" class="filter-green"/>