---
layout: layout.liquid
title: 11ty Boilerplate
---

<h1>My <strong>Hiking</strong> Adventures</h1>

<p class="home">I first laced up my hiking boots in 2017, tackling the trails of Northern Virginia’s Shenandoah National Park. At the time, finding new hiking spots around the DC Metro was a bit of a challenge—most of the best ones were over an hour away! Then, in 2019, we made the move to sunny San Diego, and suddenly, exploring the great outdoors was a breeze. This website is my little corner of the internet, showcasing some of the photos I’ve captured on my adventures. <strong>Enjoy the journey!</strong></p>

<div>
    <img class="homeImage" alt="Zion" src="/images/Zion13.jpg" width="350"/>
</div>

<img alt="logo" src="/images/token_moonriver.svg" width="75" class="filter-green"/>