@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

:root {
    --main-bg-color: #D7F9F1;
    --alt-bg-color: #F4AFAB;
    --primary-text-color: #37515F;
    --alt-text-color: #7AA095;
    --accent-color: #F4CBC6;
}

body {
    font-family: 'Comissioner', sans-serif;
    color: var(--primary-text-color);
    background: var(--main-bg-color);
    padding: 0 40px;
    margin: auto;
    max-width:75%;
    text-align: center;
}

nav {
    margin: 40px auto 0 auto;
    width: 250px;
    border-radius: 50px;
    background: var(--alt-bg-color);
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    margin: 0;
}

nav ul li a {
    display: inline-block;
    padding: 20px;
    color: var(--primary-text-color);
    text-decoration: none;
    font-size: 1.2em;
}

h1 {
    font-family: 'Source+Serif', sans-serif;
    font-size: 5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

h1 strong {
    background: #F4AFAB;
    background: linear-gradient(45deg, #F4AFAB 0%, #7AA095 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.home {
    margin: auto;
    max-width: 800px;
    text-align: justify;
}

.homeImage {
    margin: 25px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.photo {
    width: 300px;
    margin: 25px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.filter-green {
    filter: invert(64%) sepia(23%) saturate(329%) hue-rotate(112deg) brightness(91%) contrast(84%);
    opacity: 0.75
}

.flex-container {
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
}